rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {

    match /boards/{document} {
      allow read;
      allow create: if requestMatchesUid();
      allow update: if requestMatchesUid() && resourceMatchesUid();
      allow delete: if resourceMatchesUid();
    }

    match /customers/{document} {
      allow read;
    }

    function requestMatchesUid() {
      return request.auth.uid == request.resource.data.uid;
    }

    function resourceMatchesUid() {
      return request.auth.uid == resource.data.uid;
    }
  }

}